<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>LMS - Courses | IT Department</title>
    <link rel = "stylesheet" type = "text/css" href = "/style.css"/> <!--w finalnej wersji zmienić ścieżkę na style.css-->
</head>
<body>
    <header>
        <div class = "head_part">
            <h1 class = "logo">Learning Management System</h1>
        </div>
        <div class = "head_part" style = "text-align: right;">
            <br/>
            <div th:if = "${session.user}" id = "user_card" style = "border: cornflowerblue 1px dashed; width: 256px !important; font-size: 20px; padding: 8px; margin-left: 666px;">
                <span th:if = "${session.user}">Hello <span th:text = "${session.user.first_name}"/>!</span><br/>
                <form th:if="${session.user != null}" action = "/logout" method = "post">
                    <a href = "/panel"><input type = "button" value = "User's panel"/></a>
                    <input type="submit" value = "Logout"/>
                </form>
            </div>

            <a th:if = "${session.user == null}" href = "/sign-in"><input class = "nav_button" type = "button" value = "Sign in"/></a>
            <a th:if = "${session.user == null}" href = "/register"><input class = "nav_button" type = "button" value = "Register"/></a>
        </div>
    </header>
    <div id = "container">
        <nav id = "side_nav">
            <ul>
                <li><a href = "/">Home</a></li> <!--źródła według kontrolerów-->
                <ul>
                    <li><a href = "/courses">Courses</a></li>
                    <ul>
                        <li><a href = "/courses/it">IT Department</a></li>
                        <li><a href = "/courses/management">Faculty of Management</a></li>
                        <li><a href = "/courses/humanities">Faculty of Humanities</a></li>
                    </ul>
                    <li th:if = "${session.user}"><a href = "#">My courses</a></li>
                    <ul th:if = "${session.user}">
                        <li><a href = "/my-courses/course-1">Course 1</a></li>
                        <li><a href = "#">Course 2</a></li>
                    </ul>
                </ul>
            </ul>
        </nav>
        <main style = "height: 800px;">
            <h2>Courses</h2>
            <a href = "#"><div class = "course" th:each = "course : ${courses}">
                <br/><span th:text = "${course.course_faculty}"></span><br/>
                <b th:text = "${course.course_name}"></b><br/>
                <i>Author: <span th:text = "${course.course_author.first_name} + ' ' + ${course.course_author.last_name}"/></i>
            </div></a>
        </main>
    </div>
    <footer>
        <h5>Authors: Michał Kogowski, Szymon Chrobot</h5>
    </footer>
</body>
</html>
