<!DOCTYPE html>
<html lang = "en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset = "UTF-8">
    <title>LMS - Courses | IT Department</title>
    <link rel = "stylesheet" type = "text/css" href = "/style.css"/> <!--w finalnej wersji zmienić ścieżkę na style.css-->
    <link rel = "stylesheet" type = "text/css" href = "/courses.css"/>
</head>
<body>
    <header>
        <div class = "head_part">
            <h1 class = "logo">Learning Management System</h1>
        </div>
        <div class = "head_part" style = "text-align: right;">
            <br/>
            <a href = "/login"><input class = "nav_button" type = "button" value = "Sign in"/></a>
            <a href = "/register"><input class = "nav_button" type = "button" value = "Register"/></a>
        </div>
    </header>
    <div id = "container">
        <nav id = "side_nav">
            <ul>
                <li><a href = "/">Home</a></li> <!--później wstawić źródła według kontrolerów-->
                <ul>
                    <li><a href = "/courses">Courses</a></li>
                    <ul>
                        <li><a href = "/courses/it">IT Department</a></li>
                        <li><a href = "/courses/">Faculty</a></li>
                    </ul>
                    <li><a href = "#">My courses</a></li>
                    <ul>
                        <li><a href = "/my-courses/course-1">Course 1</a></li>
                        <li><a href = "#">Course 2</a></li>
                    </ul>
                </ul>
            </ul>
        </nav>
        <main style = "height: 800px;">
            <h2>Courses</h2>
            <a href = "/courses/it" style = "text-decoration: none;"><div class = "course_header">
                <h4>IT Department</h4>
            </div></a>
            <a href = "/courses/" style = "text-decoration: none;"><div class = "course_header">
                <h4>Faculty</h4>
            </div></a>
        </main>
    </div>
    <footer>
        <h5>Authors: Michał Kogowski, Szymon Chrobot</h5>
    </footer>
</body>
</html>
